.backgroundContainer {
  height: 100%;
}

.navigationBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: transparent;
  gap: 32px;
  padding: 32px 64px 32px 64px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;

  a {
    font-family: 'EB Garamond', serif;
    text-decoration: none;
    color: #fff;
  }

  span {
    font-size: 2.3rem;
    font-weight: 400;
  }

  ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    gap: 32px;
    font-size: 1.2rem;
    font-weight: 500;
  }
}

.iconContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;

  span {
    font-size: 1.2rem;
  }
}

.heroPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 64px 0 64px;
  margin: auto;
  height: 100vh;
  background-image: url('./images/BackgroundImages.jpg');
  background-position: center -200px;
  background-size: cover;
  position: relative;
  z-index: 1;

  h1 {
    font-size: 4rem;
    font-weight: 400;
    color: #fff;
    margin-bottom: 32px;
  }

  a {
    font-family: 'EB Garamond', serif;
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 500;
    padding: 24px 32px;
    background-color: #a8a6a1;
    color: #fff;
    cursor: pointer;
  }
}

.secondSection {
  min-height: 500px;
  background-color: #38383b;
}
